@media screen and (max-width: 767px) {
	
/* All pages with hero section*/
	section#hero h1{
		font-size:50px;
	}

/* Homepage's About section */
    article#portrait{
    	margin-top: 7%;
   }

/* Homepage's Portfolio section */
    article#development{
    	margin-top: 10%
    }

/* Homepage's Contact section */
	article#details{
    	margin-top: 10%
    }
    
/* Development page's list of projects */
    article#dev-portfolio2, #dev-portfolio3{
    	margin-top: 10%;
    }
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img{
	border-radius: 5%;
}


header{
/*	min-height: 900px;*/
	background: url(../design/hero-bg.png) no-repeat;
	background-position: center;
	background-size: cover;
	padding: 3%;
}

#header-container{
	display:flex;
	align-items:center;
}

#logo{
	display:flex;
	justify-content:flex-start;
	padding: 10px 20px;
}

nav{
	display:flex;
	justify-content:flex-end;
}

nav ul{
	list-style: none;
	margin:0;
	padding:0;
}

nav li{
	display: inline-block;
}

nav li a{
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
	font-family: 'Futura-PT', sans-serif;
	color: #fff;
	letter-spacing: 15px;
	text-transform: uppercase;
	font-size: 18px;
}

nav li a:hover{
	text-decoration:none;
	color: #d6df28;
}

section#hero{
	height: 700px;
	display:flex;
	align-items: center;
}

section#about{
/*	min-height:500px;*/
	background: url(../design/about-bg.png) no-repeat;
	background-size: cover;
	display:flex;
	align-items: center;
}

section#about article#portrait{
	display: flex;
	align-items: center;
	justify-content:center;
}

section#about h2{
	color: white;
}

section#about h3{
	color: white;
}

section#about p{
	color: white;
}

section#portfolio{
/*	min-height: 900px;*/
	overflow:hidden;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

section#portfolio img{
	max-width: 100%;
	margin-top: 5%
}

article#design, #development{
	display:flex;
	flex-direction:column;
	align-items: center;
}

section#contact{
	background:url(../design/contact-bg.png) no-repeat;
	background-size:cover;
	display: flex;
	align-items: center;
}

article#details ul{
	list-style:none;
	display:flex;
	flex-direction:column
}

article#details li{
	list-style:none;
	text-decoration: none;
	font-family: 'Futura-PT', sans-serif;
	color: #2d2d2d;
	letter-spacing: 5px;
	line-height: 50px;
	text-transform: uppercase;
	font-size: 18px;
	display:flex;
	flex-direction:row;
	align-items:center;
}

.form-control{
	border: 1px solid #d6df28;
	list-style:none;
	text-decoration: none;
    font-family: 'Poppins', sans-serif;
	color: #2d2d2d;
	line-height:40px;
	font-size: 15px;
}

footer{
	background-color: #d6df28;
}


/* DESIGN PAGE*/

header#design{
/*	min-height: 900px;*/
	background: url(https://images.pexels.com/photos/3069334/pexels-photo-3069334.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat;
	background-position: center;
	background-size: cover;
	padding: 3%;
}

header#design h1{
	font-family: 'Futura-PT-Bold', sans-serif;
	color: #fff;
	/*font-size: 150px;*/
	padding: 0;
	margin: 0;
}

/* DEVELOPMENT PAGE*/

header#dev{
/*	min-height: 900px;*/
	background: url(https://images.unsplash.com/photo-1572888251386-d3b972e06897?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80) no-repeat;
	background-position: center;
	background-size: cover;
	padding: 3%;
}

header#dev h1{
	font-family: 'Futura-PT-Bold', sans-serif;
	color: #fff;
	/*font-size: 150px;*/
	padding: 0;
	margin: 0;
}

article#dev-portfolio1, #dev-portfolio2, #dev-portfolio3{
	display: flex;
	flex-direction:column;
	align-items:center;
	text-align:center;
}

/* DEVELOPMENT INNER PAGES*/

.responsive{
  width: 100%;
  height: auto;
}

header#dev-inner{
	min-height: 350px;
	background: url(../design/portfolio.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	padding: 3%;

}

section#image-overlay{
	min-height: 300px;
	display: flex;
	justify-content:center;
    max-width: 100%;
}


article#image{
	position: absolute;
    top: -55%;
    z-index: 2;
}


article#brief{
	text-align: center;
    margin-top: 38%;
}



/* HEADINGS AND BODY */

h1{
	font-family: 'Futura-PT-Bold', sans-serif;
	color: #fff;
	font-size: 180px;
	padding: 0;
	margin: 0;
}

h2{
	font-family: 'Futura-PT', sans-serif;
	font-weight:700;
	color: #d6df28;
	font-size: 50px;
	padding-bottom:5%;
	margin: 0;
}

h3{
	font-family: 'Futura-PT', sans-serif;
	font-weight:600;
	color: #d6df28;
	letter-spacing: 15px;
	text-transform: uppercase;
	font-size: 30px;
	padding-bottom: 3%;
	margin: 0;
}

p{
	font-family: 'Poppins', sans-serif;
	color: #2d2d2d;
	line-height:40px;
	font-size: 15px;
	padding:0;
	margin: 0;
}

h4{
	text-decoration: none;
	font-family: 'Futura-PT', sans-serif;
	color: #2d2d2d;
	letter-spacing: 5px;
	text-transform: uppercase;
	font-size: 18px;
}

btn a{
	font-family: 'Futura-PT', sans-serif;
	font-weight: 700;
	color: #d6df28;
	letter-spacing: 15px;
	text-transform: uppercase;
	font-size: 18px;
	/* padding: 5% 0 5% 0; */
	margin: 0;
}

btn a:hover{
	color: #d6df28;
	text-decoration: none;
}

button{
	background: #d6df28;
	color: #fff;
	text-decoration: none;
	border: none;
	font-family: 'Futura-PT', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 18px;
}